<h1>Select your role</h1>
<div class="panel panel-primary">
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <% current_user.roles.each do |role| %>
        <li><%= link_to raw(role.name + "<span class='badge alert-primary pull-right'>OK</span>"), set_role_path(role: role.id)  %></li>
      <% end %>
    </ul>
  </div>
</div>
