<td><%= link_to 'Edit', edit_user_path(user), class: "badge" %></td>
<td><%= link_to raw('<em class="fa fa-trash-o"></em> Delete'), user, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge" %></td>

