<% if role.same_level? user %>
  <td><%= link_to 'Dossier', "/context/#{user.id}", class: "badge" %></td>
<% else %>
  <td><span class="badge alert-warning" data-toggle="tooltip" data-placement="top" title="Dossier is at the <%= user.phase.humanize %> level">Dossier</span></td>
<% end %>
