<%= bootstrap_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @user.errors.count, "error" %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :netid %>
    <%= f.text_field :name %>
    <%= f.fields_for :roles do |r| %>
      <% if @roles.length > 1 %>
        <%= r.select :role_id, options_from_collection_for_select(@roles, :id, :name) %>
      <% else %>
        <%= r.hidden_field :role_id, value: @roles.first.id.to_s %>
      <% end %>
    <% end %>
    <%= f.hidden_field(:college_id, value: @college.first.id.to_s) if level >= 6 %>
    <%= f.select :department_id, option_groups_from_collection_for_select(@college, :departments, :name, :id, :name) if role.college_admin? && @roles.any? { |role| role.department_admin? } %>
    <%= f.hidden_field :department_id, value: @department if role.department_admin? %>
    <div class="row">
      <div class="col-md-4">
        <%= f.submit raw('&#xf0c7; Save'), class: 'btn btn-primary fa-input' %>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <%= link_to raw('<i class="fa fa-ban"></i>  Cancel'), users_path, class: 'btn btn-warning' %>
      </div>
    </div>
<% end %>
<br>
