<h4>Viewing <%= @names %></h4>
<%= link_to raw("<i class='fa fa-user-plus'></i> Add"), new_user_path(url_options), class: "btn btn-lg btn-primary" if role.admin? && role.level.level - @role.level <= 2 %>
<%= render 'nobody' if @users.nil? || @users.empty? %>
<% @users && @users.group_by{ |user_role| user_role.user.department }.each do |department, department_users| %>

  <h2><%= department && department.name %></h2>

  <hr>

  <% department_users && department_users.group_by{ |user_role| user_role.role.name }.each do |user_role, users| %>

    <h4><%= user_role %></h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Net ID</th>
          <th>Name</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
      <% users.each do |user| %>
        <tr>
        <td><%= user.user.netid %></td>
        <td><%= user.user.name %></td>
        <%= render 'admin', user: user.user if role.admin? %>
        <%= render 'candidate', user: user.user if user.role.candidate? %>
      </tr>
    <% end %>
      </tbody>
    </table>

  <% end %>

<% end %>
  <br>
