<p>
  <strong>NetID:</strong>
  <%= @user.netid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.roles.map(&:name).join("<br>").html_safe %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department.name %>
</p>
