<div class="panel panel-primary">
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <% @links.each do |link| %>
        <li><%= link_to raw(link.first + "<span class='badge alert-primary pull-right'>#{link[2] || "Edit"}</span>"), link[1]  %></li>
      <% end %>
    </ul>
  </div>
</div>
