beginhtml = ('<h2>All done!</h2>');

if (error > 0)    beginhtml += (error    + ' errors  <br>');
if (finished > 0) beginhtml += (finished + ' complete<br>');

beginhtml += '<%= link_to "View", @user.dossier.url, class: "btn btn-info" %>';
beginhtml += '<%= link_to "Download", @user.dossier.url, class: "btn btn-success", download: 'dossier.pdf' %>';

$('.progress').hide();
$('#begin').html(beginhtml);
