<div id="compile"></div>

<div id="begin" class="text-center">
  <h1>Click Begin to start preparing dossier. May take a few minutes</h1>
  <%= form_tag("/compile/begin", method: "get", remote: true) do %>
    <%= submit_tag "Begin", class: "btn btn-large btn-warning" %>
  <% end %>
</div>

<div class="progress progress-success progress-striped active text-primary">
  <div class="progress-bar bar" style="width:0%;"></div>
</div>

<table class="table table-striped" id="completed">
  <thead>
    <th>Category</th>
    <th>Name</th>
    <th>Status</th>
    <th>Message</th>
  </thead>
  <tbody id="converts">
  </tbody>
</table>

<%= link_to 'Back to Dossier Sections', categories_path, class: "btn btn-warning" %>

<script type="text/javascript">
  $(".progress").hide();
  $("#completed").hide();
</script>
