<% if !@done %>
  <% if @upload %>
    filesdone++;
    percentComplete=(filesdone / allfiles) * 100;
    $('.bar').css({ "width": percentComplete + "%" });
    $('.bar').html(percentComplete.toFixed(2) + "%");
  <% end %>
  <% if @step %>
    <%= @step %>++;
  <% end %>
  var table_entry = "<tr>";
  <% [@category, @upload, @step, @message].each do |column| %>
    table_entry += "<td>" + "<%= column %>" + "</td>";
  <% end %>
  table_entry += "</tr>";
  $('#converts').append(table_entry);
  $.ajax("/compile/<%= @catindex %>/<%= @uploadindex %>");
<% else %>
  $('#compile').empty();
  $('#begin').html('<h2>Assembling and indexing...</h2><%= image_tag "compile.gif" %>');
  $.ajax("/compile/compile");
<% end %>
