h1 Select College 

table class=["table table-striped"]
  thead
    tr
      th Name

  tbody
    - @colleges.each do |college|
      tr
        td = link_to college.name, users_path(college: college.id, role: params[:role])
        - if role.tech_user?
          td = link_to 'Edit', edit_college_path(college), class: 'badge alert-warning'
          td = link_to raw('<em class="fa fa-trash-o"></em> Destroy'), college, data: {:confirm => 'Are you sure?'},
        :method => :delete, class: 'badge alert-danger'
br
