<h1>Contact Us</h1>
<p>If you need help or encounter a significant error, contact:</p>
<p><%= @admin.name %><br>
<%= @role.name %><br>
<%= @admin.college && @admin.college.name %><br>
<%= @admin.department && @admin.department.name %><br>
E-mail: <%= @admin.netid %>@unm.edu</p>
