 <%= form_for [@category, Upload.new], html: { multipart: true, id: "fileupload"  } do |f| %>
  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  <div class="row fileupload-buttonbar col-md-9">
    <div class="span7">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <%= f.file_field :upload, class: 'hide'  %>
      <button type="submit" class="btn btn-primary start hide" id="save_all">
    </div>
    <div class="span5">
      <!-- The global progress bar -->
      <div class="progress progress-success progress-striped active fade">
        <div class="bar" style="width:0%;"></div>
      </div>
    </div>
  </div>
  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-loading"></div>
  <!-- The table listing the files available for upload/download -->
  <div class="row">
    <div class="col-md-4">
      <div class="well well-success" id="green_button"><h4><i class="fa fa-folder"></i> Click to add files...</h4></div>
    </div>
    <div class="col-md-1 text-center">
      <h4>OR</h4>
    </div>
    <div class="col-md-4">
      <div class="well"><h4><i class="fa fa-file"></i> Drag and drop files.</h4></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-9">
        <button class="btn btn-primary" id="blue_button"><i class="fa fa-upload"></i> Save All</button>
     </div>
   </div>
  </div>
  <table class="table table-bordered table-striped" id="sortable"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
  </table>
<% end %>
<script>
$('#green_button').bind("click" , function () {
  $('#upload_upload').click();
});

$('#blue_button').bind("click" , function (e) {
  e.preventDefault();
  $('#save_all').click();
});


var fileUploadErrors = {
maxFileSize: 'File is too big',
minFileSize: 'File is too small',
acceptFileTypes: 'Filetype not allowed',
maxNumberOfFiles: 'Max number of files exceeded',
uploadedBytes: 'Uploaded bytes exceed file size',
emptyResult: 'Empty file upload result'
};
</script>
<%= render 'uploadjs' %>
<%= render 'downloadjs' %>
<script>
sortable = function() {
  jQuery(function() {
    var cells, desired_width, table_width;
    if ($('#sortable').length > 0) {
      table_width = $('#sortable').width();
      cells = $('.table').find('tr')[0].cells.length;
      desired_width = table_width / cells + 'px';
      $('.table td').css('width', desired_width);
      return $('#sortable').sortable({
        axis: 'y',
        items: '.item',
        cursor: 'move',
        sort: function(e, ui) {
          return ui.item.addClass('active-item-shadow');
        },
        stop: function(e, ui) {
          ui.item.removeClass('active-item-shadow');
          return ui.item.children('td').effect('highlight', {}, 1000);
        },
        update: function(e, ui) {
          var item_id, position;
          item_id = ui.item.data('item-id');
          console.log(item_id);
          position = ui.item.index();
          return $.ajax({
            type: 'POST',
            url: '<%= update_row_order_category_uploads_path(@category.id) %>',
            dataType: 'json',
            data: {
              upload: {
                upload_id: item_id,
                row_order_position: position
              }
            }
          });
        }
      });
    }
  });

};
$(function () {
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload();
    //
    // Load existing files:
    $.getJSON($('#fileupload').prop('action'), function (files) {
      var fu = $('#fileupload').data('blueimpFileupload'),
      template;
      // This is broken for some reason
      //fu._adjustMaxNumberOfFiles(-files.length);
      console.log(files);
      template = fu._renderDownload(files)
        .appendTo($('#fileupload .files'));
      // Force reflow:
      fu._reflow = fu._transition && template.length &&
        template[0].offsetWidth;
      template.addClass('in');
      $('#loading').remove();
      }).done(function () { sortable(); });

});
</script>

