<h2>Dossier Sections for <%= @user.name %></h2>
Click on each section name below to add files to that dossier section.
When you are ready to see your dossier, click "Preview Dossier" below.
If you are satisfied with your dossier, click "Submit Final Dossier" to send
your dossier to the department level for review.
<table class="table table-striped table-hover warning">
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category, class: 'display: block;' %></td>
      <td><span class="badge"><%= category.uploads.length %></span></td>
    </tr>
  <% end %>
    <tr>
      <td><strong>Total:</strong></td>
      <td><span class="badge"><%= @total %></span></td>
    </tr>
  </tbody>
</table>
<p>If you exit the application, saved items remain in your dossier.</p>
<div class="row">
  <div class="col-md-4"> 
  <%= link_to 'Preview Dossier', compile_path, class: 'btn btn-primary' %>
  </div>

  <% if role.candidate? || role.admin? %>
    <div class="col-md-4 col-md-offset-2">
      <%= link_to @button[:text], submit_path, class: 'btn btn-success', data: { confirm: @button[:confirm] } %> 
    </div>
  <% end %>
</div>
<script>
$(function () { $.fn.twitter_bootstrap_confirmbox.defaults = {
    fade: false,
    title: "Submit Final Dossier", // if title equals null window.top.location.origin is used
    cancel: "No",
    cancel_class: "btn cancel",
    proceed: "Yes",
    proceed_class: "btn proceed btn-primary"
} });
</script>

